<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.landonf.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Landon Fuller. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>XcodePostFacto</string>
	<key>DTXcode</key>
	<string>0630</string>
	<key>DVTPlugInCompatibilityUUIDs</key>
	<array>
		<string>992275C1-432A-4CF7-B659-D84ED6D42D3F</string>
		<string>9F75337B-21B4-4ADC-B558-F9CADF7073A7</string>
		<string>E969541F-E6F9-4D25-8158-72DC3545A6C6</string>
		<string>8DC44374-2B35-4C57-A6FE-2AD66A36AAD9</string>
	</array>
	<key>DVTPlugInHostRequirements</key>
	<array>
		<string>foundation</string>
	</array>
</dict>
</plist>
